
.navbar {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent !important;
    color: white !important;
    z-index: 1000
}

.navbar a {
    color: white !important;
}

.navbar .navbar-toggler {
    background-color: white;
}

.navbar .log {
    color: #ffe25b !important;
}

/*Services*/


.services {
    margin-bottom: 50px
}

.services .container {
    overflow: hidden
}

.services .services-child {
    background-color: #ebebeb;
    padding: 60px 0;
}

.services img {
    width: 100%;
    height: 300px;
    margin-bottom: 20px
}

.services .col-lg-4 > div {
    width: 100%;
    height: 100%;
}

.services .link {
    border: 3px solid #ffe25b;
    width: 160px;
    float: right;
}

.services .row a {
    color: black;
}

.services .row a:hover {
    color: #ffe25b;
}

.services .container > a {
    width: 170px;
    border: 2px solid #ffe25b;
    margin-top: 30px;
    text-align: left;
    color: black;
    float: right;
}

.services .container > a i {
    padding: 5px 15px;
    color: black;
    background-color: #ffe25b
}

.services .container > a span {
    margin-left: 20px;
    position: relative;
    bottom: 7px;
}


@media (max-width: 992px) {
    
    /* navbar */
    
    .navbar ul {
        background-color: white;
        padding: 10px 20px;
    }
    .navbar ul li a {
        color: black !important;
    }
    .navbar ul li a:hover {
        color: #ffe25b !important;
    }
    .navbar ul form {
        position: static;
        width: 100%;
    }
    
    /* about */
    
    .about .img {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 30px
    }
    .about .f-bg,
    .about .s-bg {
        display: none;
    }
    .about .about-child {
        width: 60%;
        margin: 0 auto;
    }
    
    /* service */
    
    .services .col-lg-4 {
        margin-bottom: 30px
    }
    
    /* project */
    
    .project .col-lg-4 {
        position: static;
        margin-bottom: 25px
    }
    
    /* contact */
    
    .contact-child {
        background-image: none;
    }
    
    /* footer */
    
    footer .logo {
        margin-bottom: 30px;
        display: block;
    }
    footer .container > .row:nth-of-type(2) > div {
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    
    /* header */
    
    header h1 {
        font-size: 35px;
    }
    
    /* about */
    
    .about .img,
    .about .about-child {
        width: 75%;
    }
    
    /* services */
    
    .services img {
        height: auto
    }
    
    /* footer */
    
    footer .row > .col-lg-9 {
        text-align: left;
        padding-left: 20px;
    }
    footer .row > .col-lg-9 > div > div {
        margin: 15px 0;
    }
    footer .row > .col-lg-9 > div > div i {
        font-size: 25px;
    }
}

@media (max-width: 576px) {
    /* about */
    
    .about .img,
    .about .about-child 
        width: 90%;
    }
}
